/* Minimal prose styles for markdown-rendered descriptions.
   Applied via the .creem-prose class on description containers. */

.creem-prose {
  > :first-child {
    margin-top: 0;
  }

  > :last-child {
    margin-bottom: 0;
  }

  p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  strong {
    font-weight: 600;
  }

  em {
    font-style: italic;
  }

  a {
    text-decoration: underline;
    text-underline-offset: 2px;
  }

  a:hover {
    opacity: 0.8;
  }

  ul,
  ol {
    padding-left: 1.25em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }

  li {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
  }

  code {
    font-size: 0.875em;
    padding: 0.125em 0.25em;
    border-radius: 0.25rem;
    background-color: rgb(0 0 0 / 0.05);
  }

  @media (prefers-color-scheme: dark) {
    code {
      background-color: rgb(255 255 255 / 0.1);
    }
  }
}
